

section {
    background-image: url('../Assets/Images/hrms_bg.jpeg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-color: #C3D9EF !important;
    height:100vh;
}



